{% extends './dashboardSiswa.html' %}

{% block contents %}

<div class="modal fade" id="confirmSaveModal" tabindex="-1" aria-labelledby="confirmSaveLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="confirmSaveLabel">Konfirmasi Simpan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Apakah Anda yakin ingin menyimpan data ini?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-primary" id="confirmSaveBtn">Simpan</button>
         </div>
      </div>
   </div>
</div>

<div class="container">
   <h1 class="mb-4">Silahkan pilih jurusan</h1>
   <form id="creareJurusan">

      <div class="form-group mb-3 container-select-siswa">
         <label for="siswa_id">Pilih siswa yang akan di rekomendasikan</label>
         <select lass="form-control" id="siswa-id-select" name="siswa_id" required>
         </select>
      </div>


      <div class="form-group mb-3">
         <label for="Jurusan">Pilih jurusan</label>
         <select class="form-control" id="jurusan" name="jurusan" required>
            <option value="Teknik komputer jaringan">Teknik komputer jaringan</option>
            <option value="Rekayasa perangkat lunak">Rekayasa perangkat lunak</option>
            <option value="Teknik kendaraan ringan">Teknik kendaraan ringan</option>
            <option value="Teknik sepeda motor">Teknik sepeda motor</option>
            <option value="Menejemen">Menejemen</option>
         </select>
      </div>

      <div class="form-group mb-3">
         <label for="alasan">Deskripsikan bakat anda</label>
         <textarea class="form-control" id="bakat" name="bakat" rows="4"
            placeholder="Deskripsikan bakat yang anda punya..." required></textarea>
      </div>

      <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
         data-bs-target="#confirmSaveModal">Simpan</button>
   </form>
</div>

<!-- Alert Container -->
<div id="alertContainer" class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1050;"></div>

{% endblock %}