<aside class="left-sidebar with-vertical">
   <div><!-- ---------------------------------- -->
      <!-- Start Vertical Layout Sidebar -->
      <!-- ---------------------------------- -->
      <div class="brand-logo d-flex align-items-center justify-content-between">
         <a href="/dashboard" class="text-nowrap logo-img container-logo">
            <img src="{{url_for('static', filename='images/logosenopati.png')}}" class="dark-logo logo-sidebar"
               alt="Logo-Dark" />
            <img src="{{url_for('static', filename='images/logosenopati.png')}}" class="light-logo logo-sidebar"
               alt="Logo-light" />
            <p class="logo-title">SMK SENOPATI</p>
         </a>
         <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
            <i class="ti ti-x"></i>
         </a>
      </div>


      <nav class="sidebar-nav scroll-sidebar" data-simplebar>
         <ul id="sidebarnav">
            <li class="sidebar-item">
               <a class="sidebar-link" href="/admin/dashboard" id="get-url" aria-expanded="false">
                  <span>
                     <i class="ti ti-aperture"></i>
                  </span>
                  <span class="hide-menu">Data siswa</span>
               </a>
            </li>
         </ul>
      </nav>
   </div>
</aside>